<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ asset('css/home.css') }}" media="screen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
<span class="material-symbols-outlined menu" onclick="showNavbar()">menu</span>
<script>
    function showNavbar(){
        const nav= document.querySelector('nav')
        nav.style.display='flex';
        const divAll=document.querySelector('div.big__container');
        divAll.style.filter="brightness(30%)";
        divAll.style.backgroundColor="gray";
        document.querySelector('span.menu').style.visibility='hidden';
    }
</script>
<nav>
    <div class="redirections">
        <a href="{{ path('app_redirecteur') }}" class="lien"><p class="lien">Mon espace</p></a>
        <a href="{{ path('app_entreprise_create') }}" class="lien"><p class="lien">Je représente une entreprise...</p></a>
    </div>
</nav>
<div class="big__container">
<section class="section__principale header">
    <div class="texte__hearder">
        <h1 class="white">Master IA</h1>
        <h2 class="white">Université de Reims Champagne Ardennes</h2>
    </div>
</section>
<section class="section__principale two">
    <div class="container__div">
        <div class="info">
            <span class="material-symbols-outlined">
            star_rate
            </span>
            <h3>Diplôme national</h3>
            <p>Le diplôme est reconnu de grade "master" par l'Etat</p>
        </div>
        <div class="info"><span class="material-symbols-outlined">
school
</span> <h3>Une équipe impliquée</h3>
            <p>Nos enseignants sauront vous aider à obtenir ce diplôme</p></div>
        <div class="info"><span class="material-symbols-outlined">
library_books
</span> <h3>Des cours intéressants</h3>
            <p>Nos cours permettent de faire grandir dans chaque étudiant l'envie d'évoluer dans le domaine de l'IA</p></div>
    </div>
</section>
<section class="section__principale three">
    <div class="texte__hearder two">
        <h1 class="white smaller">Les unités d'enseignement</h1>
        <h2 class="white">Elles sont au nombre de 5</h2>
    </div>
</section>
<section class="section__principale absolute">
    <div class="liste__ue">
        <div class="ue">
            <div class="ue__fond" id="ue1"></div>
            <h2  class="ue">Intelligence Artificielle et Management des Connaissances</h2>
            <p>Gestion des données, fouille de données, aide à la décison</p>
        </div>
        <div class="ue">
            <div class="ue__fond" id="ue2"></div>
            <h2 class="ue">Données et décisions</h2>
            <p> L’analyse, la gestion et la fusion/corrélation de données, le Big Data et l’apprentissage machine, appliqués par exemple aux villes/transport/agriculture connectés</p>
        </div>
        <div class="ue">
            <div class="ue__fond" id="ue3"></div>
            <h2  class="ue">Modélisation et Maîtrise de la Compléxité</h2>
            <p> L'apprentissage profond, la classification, la complexité et les statistiques, appliqués par exemple à la modélisation bio-inspirée et à la cognition située</p>
        </div>
        <div class="ue">
            <div class="ue__fond" id="ue4"></div>
            <h2  class="ue">Informatique et Interaction</h2>
            <p>La programmation, la visualisation et les interactions personnes-machines</p>
        </div>
        <div class="ue">
            <div class="ue__fond" id="ue5"></div>
            <h2 class="ue">Projets et entreprise</h2>
            <p>Gestion de projets, aide au développement pro, anglais</p>

        </div>
    </div>
</section>
<section class="section__principale data">
<div class="liste__data">
    <div class="data">
        <h1 class="big">87%</h1>
        <h2 class="white">Taux d'insertion*</h2>
    </div>
    <div class="data">
        <h1 class="big">25 200*</h1>
        <h2 class="white">Salaire médian</h2>
        <h2 class="white">Hors prime et 13ème mois</h2>
    </div>
    <div class="data">
        <h1 class="big">46*</h1>
        <h2 class="white">Etudiants</h2>
        <h2 class="white">Petites équipes</h2>
    </div>
</div>
    <p style="color: white">*Année 2015-16</p>
</section>
<section class="section__principale infos">
    <div class="container__school">
    <div class="header"><h1 class="gros">Modalités d'enseignement</h1></div>
    <div class="liste_infos">
        <div class="info__school">
            <div class="info_bg" id="info1"></div>
            <div class="text">
                <h1>Admission</h1>
                <p>En M1 :</p><br><p>Être titulaire d'une L3 ou équivalent (180 crédits ECTS)</p><br>
                <p>En M2 :</p><br><p>Être titulaire d'un M1</p><br>
                <p>De nationalité étrangère :</p><br><p>Envoyez un mail à</p><br><a href="mailto:etudiants.etrangers@univ-reims.fr">etudiants.etrangers@univ-reims.fr</a>
            </div>
        </div>
        <div class="info__school" id="info2"></div>
        <div class="info__school">
            <div class="info_bg" id="info3"></div>
            <div class="text">
                <h1>Stage</h1>
                <p>En M1 :</p><br><p>Stage obligatoire de deux mois minimum en S2</p><br>
                <p>En M2 :</p><br><p>Stage obligatoire de quatre mois minimum en S4</p><br>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="section__principale footer">
    <div class="footer_elmt" id="footerimg"><img class="logo_etire" src="{{ asset('img/images/logo_urca-rf-hr.png') }}" alt="logo urca"></div>
    <div class="footer_elmt"><h1>Contact</h1><br><p>Composante :Faculté de Sciences Exactes et Naturelles Moulin de la Housse - BP 1039 51687 Reims Cedex 2 e-mail : scolarite.sciences@univ-reims.fr Tel : 03 26 91 34 19 Responsable de la formation : Francis ROUSSEAUX e-mail : francis.rousseaux@univ-reims.fr Coordonnées du secrétariat : Département MMI e-mail : secretariat-doyen-sciences@univ-reims.fr</p></div>
</section>
</div>
</body>