<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ asset('css/home.css') }}" media="screen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
<section class="section__principale header">
    <div class="texte__hearder">
        <h1 class="white">Master IA</h1>
        <h2 class="white">Université de Reims Champagne Ardennes</h2>
    </div>
</section>
<section class="section__principale two">
    <div class="container__div">
        <div class="info">
            <span class="material-symbols-outlined">
            star_rate
            </span>
            <h3>Diplôme national</h3>
            <p>Le diplôme est reconnu de grade "master" par l'Etat</p>
        </div>
        <div class="info"><span class="material-symbols-outlined">
school
</span> <h3>Une équipe impliquée</h3>
            <p>Nos enseignants sauront vous aider à obtenir ce diplôme</p></div>
        <div class="info"><span class="material-symbols-outlined">
library_books
</span> <h3>Des cours intéressants</h3>
            <p>Nos cours permettent de faire grandir dans chaque étudiant l'envie d'évoluer dans le domaine de l'IA</p></div>
    </div>
</section>
<section class="section__principale three">
    <div class="texte__hearder two">
        <h1 class="white smaller">Les unités d'enseignement</h1>
        <h2 class="white">Elles sont au nombre de 5</h2>
    </div>
</section>
<section class="section__principale absolute">
    <div class="liste__ue">
        <div class="ue">
            <div class="ue__fond" id="ue1"></div>
        </div>
        <div class="ue">
            <div class="ue__fond" id="ue2"></div>
        </div>
        <div class="ue">
            <div class="ue__fond" id="ue3"></div>
        </div>
        <div class="ue">
            <div class="ue__fond" id="ue4"></div>
        </div>
        <div class="ue"><div class="ue__fond" id="ue5"></div>
        </div>
    </div>
</section>

</body>