{% extends 'base.html.twig' %}

{% block title %}Master IA{% endblock %}

{% block body %}

    <div class="acceuil">


    <h1>Master Informatique </h1>
    <br>
    <h2>Présentation </h2>
    <br>
    <p> Le master informatique est un diplome national .</p>
    <p> Les enseignements sont dispensés sous forme de cours magistraux , de travaux dirigés et de
        travaux pratiqués , l'accent étant mis sur les projets individuels et collectifs , les stages ainsi que
        sur le controle continu .</p>
    <p>Un certain nombre d'enseignements sont mutualisés avec d'autres mentions portées par le
       département mathématiques mécanique et informatique . </p>
    <p> Les compétences linguistiques et professionelles(Anglais , Gestion de projets , communication
        , organisation des entreprises ) sont largement considérées . </p>
    </div>
{% endblock %}
