div.liste_choix {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}
body{
    display: flex;
    flex-direction: column;
    background-image: url("../img/bg_form.jpg");
    background-size: cover;

}
a.choix{
    flex-grow: 1;
    background-color: white;
    margin: 10px;
    align-items: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    height: 100%;
    width: 95%;
    transition: ease-in-out 0.5s;
    opacity: 0.5;
    border: solid black 1px;
    border-radius: 10px;
}
a.choix:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 10px 15px 25px;
    width: 98%;
    height: 110%;
    color: black;
    opacity: 1;
    border: solid 1px dodgerblue;
    border-radius: 50px;
}
div#header-title{
    margin-top:20px;
    display:flex;
    justify-content: center;
}
div.top_contacts{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
}
div.bot_contacts{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
}
p{
    font-weight: bold;
    font-size: x-large;
}
span.material-symbols-outlined{
    font-size: xxx-large;
}
@media (min-width: 800px) {
    div.liste_choix{
        flex-direction: row;
    }
    div.bot_contacts{
        height: 1000px;
    }
    div.top_contacts{
        height: 1000px;
        margin-left:  10px;
    }

}