div.edt{
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    flex-direction: column;
    margin-top: 100px;
}
div.evmt{
    display: flex;
    align-items: center;
    margin: 15px;
}
div.liste__cours{
    display: flex;
    flex-direction: column;
    width: 100%;
}
div.horaire{
    margin: 15px;
    width: 30%;
    border-right: black solid 1px;

}
body{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 1200px;
}
div.details{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.texte{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
img.avatar{
    display: none;

}
div.header{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

}
span.edt{
    margin-top:15px;
    cursor: pointer;
    transition: font-size ease-in-out 100ms;

}
span.edt:hover{
    font-weight: bold;
    font-size: 50px;
}
a.lien__arrow{
    color: black;
}
a.lien__arrow:hover{
    color: black;
}
div.btns{
    display: flex;
    justify-content: center;
}
@media (min-width: 600px) {
    div.header{
        flex-direction: row;
    }

}
@media (min-width: 1000px) {
    img.avatar{
        display: block;
    }

}