form.formulaire>input{
    margin: 15px;
    width: 50%;
}
p{
    margin-left: 5px;
    font-weight: bold;
}
h1{
    padding-top:10px;
}
div.info{
    display: flex;
    align-items: center;
}
img.avatar{
    width: 100px;
    border-radius: 50%;
}

