section.section__principale{
    min-height: 160px;
    margin-bottom: 30px;
    margin-top: 30px;
}
section.header{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../img/images/people-2557396.jpg");
    background-position: 50% 50%;
    background-size: cover  ;
    height: 800px;
    margin-left: 0;
    margin-right: 0;
}
div.texte__hearder{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    justify-content: flex-end;
}
h1.white{
    margin:0;

    color: white;
    font-size: xxx-large;
}
h2.white{
    margin: 0 0 5%;
    color: white;
    font-family: Oswald, sans-serif

}
span.material-symbols-outlined{
    font-size: xxx-large;
}
div.container__div{
    display: flex;
    flex-direction: column;
}
body>*{
    font-family: Oswald,sans-serif;
}
body{
    display: flex;
    margin:0;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
div.info{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}
p{
    margin:0;
}
section.three{
    height: 600px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../img/images/3b91742c7e026b49e43d4d9e3bc6edf4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
div.two{
    margin-top: 150px;
    height: 150px;
}
h1.smaller{
    font-size: xx-large;
}
div.liste__ue{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
div.ue{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 650px;
    width: 95%;
}
div.ue__fond{
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
}
div#ue1{
    background-image: url("../img/images/technology-4256272_1920.jpg");
}
div#ue2{
    background-image: url("../img/images/server-1235959_1920.jpg");
}
div#ue3{
    background-image: url("../img/images/3fc11f88a285d97ae68cff4fb70747c6.jpeg");
}
div#ue4{
    background-image: url("../img/images/Deep-Learning-1024x576.jpg");
}
div#ue5{
    background-image: url("../img/images/student-849825_1920.jpg");
}
@media (min-width: 500px) {
    h1.smaller{font-size: xxx-large;}

}
@media (min-width: 800px) {
    div.container__div{
        flex-direction: row;
    }
}
@media (min-width: 1200px) {
    div.liste__ue{
        flex-direction: row;
        position: absolute;
        top: 1500px;
    }
    div.ue{
        margin-left: 2%;
        margin-right: 2%;
    }
    div.ue__fond{
        height: 500px;
    }

}