div.sansnavbar{
    background-image: url("../img/aa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:  100px;
    display: flex;
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.logo-urca{
    width:200px;
}
nav{
    border-bottom: #cacad1 solid 1px;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,0.3);
}
button{
    min-width: 150px;
}
div.info_profile{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    width: 100%;
}
img.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px 10px 10px 10px;
    z-index:0;
}
div.space{
    opacity: 0;
    width: 100%;
    min-height: 120px;
}
div.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    margin-left: 5px;
}
button.btn-primary{
    width: 110px;
}
div.bot{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
}
div.bot>*{
    margin: 5px;
}
div.stages{display: flex;}
embed{
    display: none;
}
@media (min-width: 600px) {
    embed{
        display: flex;
    }

}
@media (min-width:800px){
    button.btn-primary{
        width: 200px;
    }
    img.logo-urca{
        width: 300px;
    }
}
div.info_profile>*{
    margin: 15px;
}
@media (min-width: 365px) {
    div.space{
        height: 90px;
    }

}
