div.sansnavbar{
    background-image: url("/img/bg.jpg");
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    display: flex;
}
.logo-urca{
    width:200px;
}
nav{
    border-bottom: #cacad1 solid 1px;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,0.3);
}

div.info_profile{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
}
img.avatar{
    width: 100px;
    border-radius: 75%;
    margin: 10px 10px 10px 12%;
}