html,body{
    width: 100%;
    height: 100%;

}
.menu, .acceuil{
    display: flex;
    border-radius: 0.125em;


}

.button {
    align-items: center;
    justify-content: center;
    align-content : flex-end;
    margin: 10px;
    border-radius: 5px;
}



.acceuil{
    flex-direction: column;
    flex: 1;


}

.menu__item ,.acceuil_content {
    border-radius: 0.125em;
    margin: 0.45em;
    padding: 0.25em;
    background-color: lavender;



}

.menu__item{
    /*flex: 1; */
    background-color: #0d6dfc;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-decoration: none;
    transition: background-color 1s ease-in-out;
}

.menu__item:hover {background-color : rgb(9, 39, 77);}
.menu__item:active {background-color : #808080 ;}

/*.menu .sousMenu {
    list-style-type: none;
    display: none;
    padding: 0;
    margin : 0;
    position: absolute;
}*/
/*
.menu .sousMenu li {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;

}

.menu .sousMenu li a:link , .menu .sousMenu li a:visited{
    display: block;
    color: #ffffff;
    text-decoration: none;
    background-color:  #293245;
}
.menu .sousMenu li a:hover {
    background-color: plum;
}

.menu__item:hover .sousMenu {
    display: block;
}
<<<<<<< HEAD
*/


.acceuil_content {
    width: 101%;
    align-self: center;

    background: rgba(0,0,0,0.8);
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.acceuil_content>*{
    margin-left: 10px;
}

.acceuil__complement , .acceuil__sub-content , .acceuil__sub-complement , .acceuil__sub-complement2 , .acceuil__sub-complement3 {
    flex-grow: 2;
    align-self: center;
    font-weight: bold;
    text-align: center;
    background-color: white;
    width: 101%;
    box-shadow: 5px 5px 5px 5px gray;
    margin: 10px 5px 5px;
    padding: 5px;


}


.slide#text{
    width: 100%;
    height: 0px;
    display: none;

}

.slide#text1{
    width: 100%;
    height: 0px;
    display: none;

}

.slide#text2{
    width: 100%;
    height: 0px;
    display: none;

}

.slide#text3{
    width: 100%;
    height: 0px;
    display: none;

}

.slide#text4{
    width: 100%;
    height: 0px;
    display: none;

}

.slide#text5{
    width: 100%;
    height: 0px;
    display: none;

}
h1{
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
    color: #5670dc;
    font-size: xx-large;
}
h2 {
    color: darkturquoise;
}
div.head-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.left-menu{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.47);
    box-shadow: 5px 5px 5px 5px gray;
    padding: 5px;
    flex-grow: 1;
}
footer{
    color: white;
    font-weight: bold;
    font-family: 'Dekko', sans-serif;
}
p{
    font-family: 'Dekko', sans-serif;
    font-size: 19px;
}
@media (min-width: 880px) {
    div.head-container{
        display: flex;
        flex-direction: row;
        height: 101%;
        margin: 0 10px 10px 0;
    }
    div.body-container{
        margin:10px;
    }
    div.left-menu{
        max-width: 300px;
        margin-right: 15px;
        min-width: 150px;
    }

}

@media (max-width: 1250px) {
    body {
        display: flex;
        flex-direction: column;
        background-size: cover;

    }

    .acceuil_content {
        font-size: 0.9em;
        height: 80%;
    }

    .acceuil__complement, .acceuil__sub-content, .acceuil__sub-complement, .acceuil__sub-complement2, .acceuil__sub-complement3 {
        font-size: 0.7em;


    }
}











