body{
    display: flex;
    flex-direction: column;
    background-image: url("/img/bg_form.jpg");
    background-size: cover;
}

div.sujetTer{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
}

div.element_sujetTer{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 4px;
}


div.param{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    margin: 10px;
    text-align: center;
}
