body{
    display: flex;
    flex-direction: column;
    background-image: url("/img/bg_form.jpg");
    background-size: cover;
}

div.sujetTer{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
}

h1{
    margin: 10px;
}
div.form>*{
    margin: 5px;
}
input{
    max-width: 50%;
}