* {
    box-sizing: border-box;
    font-family: COURIER NEW, sans-serif;
}
.gpd-header{
    margin:0;
}
#header{
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:200;
    padding:100px 0;
    color:#eee;
    display:flex;
    align-items:center;
    text-align:left;
    background-image:linear-gradient(rgba(28,28,32,0.88),rgba(28,28,32,0.88)), url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyNzA1fQ);
    background-repeat:no-repeat;
    background-position:left top, left top;
    background-attachment:scroll, scroll;
    background-size:cover;
}
#ie4h{
    padding:25px 20px 25px 20px;
}
#if54{
    font-size:3rem;
    margin:0 0 10px 0;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing:10px;
}
body{
    font-family:Helvetica, serif;
    background-color: #FFBF00;
}
#ihz1pd{
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:200;
    padding:50px 0;
    color:#444;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
#idn8f3{
    padding:25px 20px 25px 20px;
    border:3px solid rgb(68, 68, 68);
    border-radius:15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-self: center;
}
#i8l9wm{
    color:#7157d7;
    text-transform:uppercase;
    font-weight:400;
}
#i92b1k{
    line-height:2rem;
    margin-bottom:50px;
}
.feature3-section{
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:200;
    padding-top:50px;
    padding-right:0px;
    padding-bottom:50px;
    padding-left:0px;
    color:rgb(68, 68, 68);
    background-color:#f3f3f3;
}
.feature3{
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    margin-left:10px;
}
.feature3-desc{
    line-height:2rem;
}
#iizsg{
    padding:25px 0;
}
#i0swg{
    color:#7157d7;
    text-transform:uppercase;
    font-weight:400;
    margin:0 0 25px 0;
}
#iw706{
    color:#7157d7;
    text-transform:uppercase;
    font-weight:400;
    margin:0 0 25px 0;
}
#i7ov9{
    text-align:center;
}
#iyc93{
    text-align:center;
}
.feature4-section{
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:200;
    padding-top:50px;
    padding-right:0px;
    padding-bottom:50px;
    padding-left:0px;
    color:rgb(68, 68, 68);
    background-color:rgb(255, 255, 255);
}
#id2rn{
    font-size:2rem;
    margin:0 0 55px 0;
    text-transform:uppercase;
    letter-spacing:10px;
    font-weight:100;
    animation-delay:0.5s;
}
#i71ky3{
    background-image:url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyNzA1fQ');
    background-size:cover;
    background-position:center center;
    background-attachment:scroll;
    background-repeat:no-repeat;
    height:300px;
    margin:0 0 25px 0;
}
#i3un1c{
    background-image:url('https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyNzA1fQ');
    background-size:cover;
    background-position:center center;
    background-attachment:scroll;
    background-repeat:no-repeat;
    height:300px;
    margin:0 0 25px 0;
}
#i71ky3{
    background-image:url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyNzA1fQ');
    background-size:cover;
    background-position:center center;
    background-attachment:scroll;
    background-repeat:no-repeat;
}
#i3un1c{
    background-image:url('https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyNzA1fQ');
    background-size:cover;
    background-position:center center;
    background-attachment:scroll;
    background-repeat:no-repeat;
}
#i3un1c{
    background-image:url('https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyNzA1fQ');
    background-size:cover;
    background-position:center center;
    background-attachment:scroll;
    background-repeat:no-repeat;
}
#ipgck{
    width:550px;
}
div#ie4h{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    align-content: center;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
div.contain{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
li{
    margin: 20px 20px 20px 0;
}
img.tuto{
    width: 1000px;
    height: 400px;
}
div.img{

    display: flex;
    flex-grow: 1;
    justify-content: center;
}
div.nav{
    height: 101vh;
    overflow-y: auto;
    padding-right: 5px;
    position: sticky;
    top: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    min-width: 250px;
}
div.tuto{
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
h2{
    margin: 30px;
    font-size: xx-large;
}
div.tuto>*{
    margin-left: 10px;
}
div.desc{
    display: flex;
    flex-direction: column;
}
a
{
    text-decoration: none;
}
a.active
{
    background-color: #d1cfc8   ;
    border-radius: 30px;
    border-left: #3b82f6 4px solid;
    padding: 10px;
}
a:hover{
    color: grey;
}
ul#sommaire{
    margin-left: 0;
}
@media (max-width: 768px){
    #id2rn{
        font-size:1.5rem;
    }
    #if54{
        font-size:2rem;
    }
}
@media (max-width: 375px){
    #id2rn{
        font-size:1rem;
    }
}
