<h1> Votre sujet TER </h1>
<div class="sujetTer">
    <div class="element_sujetTer">
        <div class="param">{{ sujetEtudiant.titreTer }}</div>
    </div>
    <div class="element_sujetTer"><div class="param">Encadrant : </div>{{ sujetEtudiant.enseignant.nomEn | upper }} {{ sujetEtudiant.enseignant.pnomEn }}</div>
    <div class="description_sujetTer"> <div class="param">Description : </div>{{ sujetEtudiant.descTer }}</div>
    <button type="button" class="btn btn-dark">Se désinscrire</button>
</div>
