{% extends 'baseprofile.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

<h1>Votre Profile Entreprise a été créé avec succès !</h1>
    <h2>Veuillez attendre qu'un Administrateur accepte votre inscription.</h2>

{% endblock %}