{% extends 'base.html.twig' %}
{% block body %}
<div class="form">
    <h1> Modification de votre mot de passe</h1>
    {{ form_start(form) }}
    {{ form_widget(form.photo,{'attr':{'class':'hidden-row'}}) }}
    {{ form_widget(form.email,{'attr':{'class':'hidden-row'}}) }}
    {{ form_end(form) }}

</div>
{% endblock %}