{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <br><br>
<h1>{{ var }}</h1>
    <h2>Liste des étudiants</h2>
{% endblock %}

{% block title %}
{{ var }}
{% endblock %}

