{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="liste_choix">
        <div class="top_contacts">
            <a class="choix" id="etudiant" href="{{ path('app_contact_etudiant') }}"><p>Contacter un étudiant</p><span class="material-symbols-outlined">
person
</span></a>
            <a class="choix" id="groupeEtudiants" href="{{ path('app_contact_groupeEtudiants') }}"><p>Contacter un groupe </p><span class="material-symbols-outlined">
groups
</span></a>
        </div>
        <div class="bot_contacts">
            <a class="choix" id="entreprise" href="{{ path('app_contact_entreprise') }}"><p>Contacter une entreprise</p><span class="material-symbols-outlined">
apartment
</span></a>
            <a class="choix" id="enseignant" href="{{ path('app_contact_enseignant') }}"><p>Contacter un enseignant</p><span class="material-symbols-outlined">
school
</span></a>
        </div>
    </div>
{% endblock %}
