{% include 'navbar.html.twig' %}
<div class="sansnavbar">
    <div class="info_profile">
        <div class="top">
            {% include 'useravatar.html.twig' %}
            <p>Email : {{ user.email }}</p>
            <p>Login : {{ user.login }}</p>
{% block body %}{% endblock %}
            <div class="bot">
                <a href="{{ path('app_logout') }}">
                    <button class="btn btn-primary">Se déconnecter</button> </a>
            </div>
    </div>

</div>
</body>
</html>