{% extends 'base.html.twig' %}

{% block body %}
{% for etudiant in etudiants %}
    <li><a href="{{ path('app_etudiant_show',{id:etudiant.id})}}">
            <span class="lastname"> {{ etudiant.lastname }}</span>
            <span class="firstname"> {{ etudiant.firstname}}</span>
        </a>
    </li>
{% endfor %}
{% endblock %}

